.songList .content .top .box1 .little_box .caozuo .d {
    font-size: 12px;
    margin-top: 20px;
}

.songList .content .top .box1 .little_box .caozuo .c{
    margin-top: 10px;
}

.songList .content .top .box1 .little_box .caozuo {
    margin-left: 30px;
}

.songList .content .top .box1 .little_box .caozuo .a .aa{
    background-color: #cd2929;
    color: white;
}