*{
    margin: 0px;
    padding: 0px;
}

.searchPage .content{
    width: 1336px;
    height: 610px;
    background-color: #ffff;
    background-color: #fafafa;
}

.searchPage .content .top{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #e1e1e1;
}

.searchPage .content .top .box1{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.searchPage .content .top .box1>span{
    margin-left: 30px;
}

.searchPage .content .top .box1>span span{
    color: #44aaf8;
}

.searchPage .content .top .box2{
    width: 100%;
    height: 40px;
    display: flex;

}

.searchPage .content .top .box2 >div{
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.searchPage .content .top .box2 >div:first-child{
    margin-left: 80px;
    color:  #44aaf8;
}

.searchPage .content .top .box2 >div:first-child div{
    display: block;
}

.searchPage .content .top .box2 >div div{
    width: 100%;
    height: 5px;
    background-color: #44aaf8;
    display: none;
}

.searchPage .content .top .box2 >div span{
    margin-top: 10px;
    padding:0px 3px;
}

/*歌曲*/

.searchPage .content .song {
    width: 100%;
}

.searchPage .content .song table{
    width: 100%;
    font-size: 12px;
    color: #444;
}

.searchPage .content .song table .glyphicon-heart{
    color: #cd2929!important;
}

.searchPage .content .song table tr{
    height: 30px;
}

.searchPage .content .song table tr td:first-child span:last-child{
    display: none;
}

.searchPage .content .song table tr td:nth-child(2){
    width: 55px;
}

.searchPage .content .song table tr td:nth-child(2) div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchPage .content .song table tr td:nth-child(2) span:first-child{
    font-size: 14px;
    cursor: pointer;
}

.searchPage .content .song table tr td:nth-child(2) span:last-child{
    margin-right: 10px;
    cursor: pointer;
}

.searchPage .content .song table tr td:nth-child(2) .glyphicon-heart-empty{
    color: #999;
}

.searchPage .content .song table tr td:nth-child(2) .glyphicon-heart{
    color: #cd2929;
}


.searchPage .content .song table tr td:nth-child(2) .glyphicon-download-alt{
    margin-right: 10px;
    cursor: pointer;
    color: #999;
}

.searchPage .content .song table tr td:nth-child(2) .glyphicon-ok-sign{
    color: #44aaf8;
}

.searchPage .content .song table tr:nth-child(odd){
    background-color: #f5f5f7;
}

.searchPage .content .song table tr:hover{
    background-color: #e6e7ea;
}

.searchPage .content .song table td{
    padding-left: 5px;
}

.searchPage .content .song table tr td:first-child{
    width: 50px;
    text-align: end;
    padding-right: 10px;
}

.searchPage .content .song table tr:first-child{
    border-bottom: 1px solid #e1e1e1;
    background-color: #fafafa;
}


.searchPage .content .song table tr:first-child td{
    border-right: 1px solid #e1e1e1;

}

.searchPage .content .song table tr:first-child td:last-child{
    border-right: 0px;
}


/*歌手*/
.searchPage .content .singer{
    display: none;
}

.searchPage .content .singer table {
    width: 100%;
    color: #444;
}

.searchPage .content .singer table tr {
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.searchPage .content .singer table tr img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

.searchPage .content .singer table tr td:first-child {
    width: 80px;
}

.searchPage .content .singer table tr td:nth-child(2) {
    width: 95%;
    padding-left: 10px;
    font-size: 12px;
}

.searchPage .content .singer table tr td:last-child {
    display: none;
}

.searchPage .content .singer table tr:nth-child(even) {
    background-color: #f5f5f7;
}

.searchPage .content .singer table tr:hover {
    background-color: #e6e7ea;
}


/*专辑*/
.searchPage .content .album{
    display: none;
}

.searchPage .content .album table {
    width: 100%;
    color: #444;
}


.searchPage .content .album table tr {
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.searchPage .content .album table tr img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

.searchPage .content .album table tr td:first-child {
    width: 80px;
}

.searchPage .content .album table tr td:nth-child(2) {
    width: 48%;
    padding-left: 10px;
    font-size: 12px;
}

.searchPage .content .album table tr td:nth-child(3){
    width: 48%;
    font-size: 12px;
}

.searchPage .content .album table tr td:last-child {
    display: none;
}

.searchPage .content .album table tr:nth-child(even) {
    background-color: #f5f5f7;
}

.searchPage .content .album table tr:hover {
    background-color: #e6e7ea;
}

